<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head.ejs')%>
  </head>
  <body>
    <%- include('includes/header.ejs')%>
    <!-- include를 통해 중복되는 html을 한번에 관리, - 는 html이라고 알려줌 -->
    <%- include('includes/side-drawer.ejs')%>
    <main>
      <h1>Something went Wrong!</h1>
      <p>서버가 잠시 에러가 발생했습니다.</p>
    </main>
  </body>
</html>
