<%- include('../../shared/includes/head',{ pageTitle: 'all-your-orders' }) %> <!-- 헤더에 pageTitle값 동적생산하면서 하드코딩으로 전달-->
</head>
<body>
    <%- include('../../shared/includes/header.ejs') %>
    <main>
        <h1>주문 성공</h1>
    </main>
<%- include('../../shared/includes/footer.ejs') %>